#form-background {
    /* The container for the pop-upp modal form */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.9);
}

#form-content {
    /* Align the form fields in a column */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #73d2de;
    box-shadow: 10px 10px 40px -10px black;
    margin: 10% auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

input {
    /* Form input fields */
    text-align: center;
    width: 250px;
    margin: .5vw 0 2vw 0;
}

.form-submit {
    /* Form "submit" button */
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: outset #d8dbe2;
}