footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #58a4b0;
    box-shadow: 10px 10px 40px -10px black;
    padding: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: #d8dbe2;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 12pt;
        padding: 1.5vw;
    }
}

footer a {
    margin: 0 1vw 0 0;
}

@media screen and (max-width: 600px) {
    footer a {
        margin-left: .5vw;
    }
}

