nav {
    display: flex;
    justify-content: space-between;
    background-color: #58a4b0;
    box-shadow: 10px 10px 40px -10px black;
    padding: 3vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
    color: #373f51;
}

@media screen and (max-width: 800px) {
    nav {
        font-size: 16pt;
    }
}

@media screen and (max-width: 600px) {
    nav {
        font-size: 14pt;
    }
}

a {
    color: #373f51;
    margin: 0 2vw 0 2vw
}

a:hover {
    color: #d8dbe2;
}

@media screen and (max-width: 600px) {
    a {
        margin: 0 1vw 0 1vw;
    }
}
