nav {
    position: fixed;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: #218380;
    box-shadow: 10px 10px 40px -10px black;
    padding: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    color: #73d2de;
}

@media screen and (max-width: 800px) {
    nav {
        font-size: 14pt;
        padding: 1.5vw;
    }
}

@media screen and (max-width: 600px) {
    nav {
        font-size: 12pt;
        padding: 1vw;
    }
}

a {
    color: #73d2de;
    margin: 0 2vw 0 2vw
}

a:hover {
    color: #8f2d56;
}

@media screen and (max-width: 600px) {
    a {
        margin: 0 1vw 0 1vw;
    }
}
