.resume {
    /* This is the container for the plain-text resume */
    text-align: justify;
    width: 90%;
    margin: 5vw auto;
}

#resume-button {
    /* Download button for resume near top of page */
    padding: .75vw;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 40px -10px black;
    background-color: #73d2de;
    color: #218380;
    font-size: 12pt;
    margin: 0;
    position: absolute;
    top: 15%;
    right: 5%;

}

#resume-button:hover {
    /* Hover style for resume download button */
    color: #fe6d73;
}